<!DOCTYPE html>
<html>
<head>
<h1>User Registration Form</h1>
</head>
<body>
<form>
	<table>
		<tr>
			<td>
				First Name:
			</td>

			<td>
				<input type=”text”  placeholder=”John” name=””>
			</td>
		</tr>
        <tr>
            <td>
				Last Name:
			</td>

			<td>
				<input type=”text” placeholder=”Doe” name=””>
			</td>
		</tr>
        <tr>
			<td>
				Date of Birth:
			</td>

			<td>
				<input type=”text”  placeholder=”01-01-2000” name=””>
			</td>
		</tr>
        <tr>
			<td>
				Email Address:
			</td>

			<td>
				<input type=”mail”  placeholder=”email@gmail.com” name=””>
			</td>
		</tr>
        <tr>
			<td>
				Phone Number:
			</td>

			<td>
				<input type=”text”  placeholder=”9876543210” name=””>
			</td>
		</tr>
        <tr>
            <td>
                Profile Image:
			</td>
            
			<td>
                <input type=”text”  placeholder=”profile_image” name=””>
			</td>
		</tr>
        <tr>
            <td>
                Password:
			</td>
            
			<td>
                <input type=”password”  placeholder=”password” name=””>
			</td>
		</tr>
        <tr>
            <td>
                Confirm Password:
			</td>
            
			<td>
                <input type=”password”  placeholder=”password” name=””>
			</td>
		</tr>
        <tr>
            <td>
                Bio:
            </td>

            <td>
                <textarea type=”mail”  placeholder=”About_Yourself” name=””></textarea>
            </td>
        </tr>
	</table>
</form> 
</body>
</html>